{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter About yourself</legend>
                <div class="form-group">
                   <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Enter details">
						</textarea>
                </div>
             </fieldset>
             <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
         </form>
        </div>
		
{% endblock %}